In [1]:
import numpy
import pandas as pd 
import matplotlib
import seaborn as snd 
import glob

In [2]:
filename = 'scripts.csv'
scripts_dataframe = pd.read_csv(filename)

In [3]:
scripts_dataframe.head()

,Unnamed: 0,Character,Dialogue,EpisodeNo,SEID,Season
0,0,JERRY,Do you know what this is all about? Do you kno...,1.0,S01E01,1.0
1,1,JERRY,"(pointing at Georges shirt) See, to me, that b...",1.0,S01E01,1.0
2,2,GEORGE,Are you through?,1.0,S01E01,1.0
3,3,JERRY,"You do of course try on, when you buy?",1.0,S01E01,1.0
4,4,GEORGE,"Yes, it was purple, I liked it, I dont actuall...",1.0,S01E01,1.0

In [34]:
scripts_dataframe['wordcount'] = 0
for index, row in scripts_dataframe.iterrows():
#     print row['Character'], row['Dialogue']
    if type(row['Dialogue']) == str: 
        scripts_dataframe.loc[index,'wordcount'] = len(row['Dialogue'].split())
    else: 
        scripts_dataframe.loc[index,'wordcount'] = 1

In [100]:
numberSeasons = 9
characters = ['JERRY', 'GEORGE', 'ELAINE', 'KRAMER', 'MORTY', 
              'FRANK', 'PETERMAN', 'HELEN', 'SUSAN', 'NEWMAN']

In [132]:
iterables = [characters, range(numberSeasons)]
index = pd.MultiIndex.from_product(iterables, names=['character', 'season'])
wordCount_dataframe = pd.DataFrame(numpy.zeros(len(iterables[0]) * len(iterables[1])), index=index)
wordCount_dataframe.columns=['wordcount']

In [133]:
wordCount_dataframe.head()

                  wordcount
character season
JERRY     0             0.0
          1             0.0
          2             0.0
          3             0.0
          4             0.0

In [134]:
seasonWordCount = numpy.zeros(9)
for index, row in scripts_dataframe.iterrows():
    character = row.loc['Character']
    season = numpy.int(row.loc['Season'])
    wordcount = row.loc['wordcount']
    seasonWordCount[season-1] += wordcount
    if character in characters:
        wordCount_dataframe.loc[character,season-1]['wordcount'] += wordcount